<div class="container">
  <mat-toolbar>

    <span routerLink="/">Note App</span>
    <span class="example-spacer"></span>
    <button *ngIf="!(auth.authState | async)" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon" (click)="onLogin()">
      Login
      <!-- <mat-icon>account_circle</mat-icon> -->
    </button>

    <button *ngIf="auth.authState | async as user" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon" (click)="onLogOut()">
      <!-- <mat-icon>account_circle</mat-icon> -->
      Logout
    </button>

  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
