<form #f="ngForm" class="wrapper">
  <mat-toolbar>
    <div class="title" *ngIf="note">
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="tel" matInput placeholder="add title for note" ngModel name="title" [value]="note.title">
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onSave()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="onNewNote()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <textarea *ngIf="note" ngModel name="body" rows="40" [value]="note.body" placeholder="add new note"></textarea>

</form>
