mat-form-field {
  margin-right: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  textarea {
    flex: auto;
    align-items: stretch;
  }
}
